
teste1718_3/cute/
teste1718_3/boost/

teste1718_3/\.settings/language\.settings\.xml

teste1718_3/\.settings/ch\.hsr\.ifs\.iltis\.cpp\.versionator\.prefs

teste1718_3/\.cproject

teste1718_3/\.project

Aulas/*/boost
Aulas/*/cute
Aulas/*/Debug
Aulas/*/.settings
